{% extends 'base.html' %}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">First Voicing</div>
    <ScrollViewer Width=calc(100%) Height="250" HorizontalScrollBarVisibility="Visible" VerticalScrollBarVisibility="Visible">
      <div class="panel-body" style="overflow-x:scroll" >
        <Canvas id="staff1" x:Name="LayoutRoot" Background="white" width=10000 onclick="draw(event)"> 
        </Canvas>
      </div>
    </ScrollViewer>
  </div> 
</div>
<div class="panel panel-default">
  <div class="panel-heading">First Voicing</div>
    <ScrollViewer Width=calc(100%) Height="250" HorizontalScrollBarVisibility="Visible" VerticalScrollBarVisibility="Visible">
      <div class="panel-body" style="overflow-x:scroll" >
        <Canvas id="staff2" x:Name="LayoutRoot" Background="white" width=10000 onclick="click(event)"> 
        </Canvas>
      </div>
    </ScrollViewer>
  </div> 
</div>
{% endblock %}
